.main {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  min-height: 100vh;
}

.productList {
  /* background-color: red; */
  flex: 1;;
}

.image {
  object-fit: contain;
}

.sectionHead {
  margin-bottom: 20px;
  -webkit-box-shadow: 0 4px 6px -6px #7024b4;
  -moz-box-shadow: 0 4px 6px -6px #7024b4;
  box-shadow: 0 4px 6px -6px #7024b4;
}

.sectionHeadTitle {
  font-size: 1.5rem;
  font-weight: 600;
  color: #7024b4;
  padding: 0px 20px 10px;
}

.rigthPanel {
  width: 30%;
}





.productListItem {
  flex: 1;
  display: flex;
  margin: 10px;
  padding: 10px;
  border: 1px solid #7024b4;
  border-radius: 10px;
  justify-content: center;
  cursor: pointer;
}

.productListItemImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.productListItem:hover {
  -webkit-box-shadow: 1px 12px 14px -3px rgba(112,36,180,0.23);
-moz-box-shadow: 1px 12px 14px -3px rgba(112,36,180,0.23);
box-shadow: 1px 12px 14px -3px rgba(112,36,180,0.23);

}

.modal {
  padding: 10%;
}

